

<div class="sidebar" data-color="blue" >
    <!--
        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
    -->
    <div class="logo">


      <a href="http://www.creative-tim.com" class="simple-text logo-normal">
        Khaddem
      </a>
    </div>

    <div class="sidebar-wrapper" id="sidebar-wrapper">
      <ul class="nav">
        <li class="active ">
          <a routerLink="/etudiant">

            <i class="now-ui-icons business_badge"></i>

            <p>Etudiants</p>
          </a>
        </li>


        <li>
          <a routerLink="/universite">
            <p>Universités</p>
          </a>
        </li>
        <li>
          <a routerLink="/contrat">
            <p>Contrats</p>
          </a>
        </li>

      </ul>
    </div>

  </div>



<!--   Core JS Files   -->
<script src="/src/assets/js/core/jquery.min.js" type="text/javascript"></script>
<script src="/src/assets/js/core/popper.min.js" type="text/javascript"></script>
<script src="/src/assets/js/core/bootstrap.min.js" type="text/javascript"></script>
<script src="/src/assets/js/plugins/perfect-scrollbar.jquery.min.js" type="text/javascript"></script>

<!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
<script src="/src/assets/js/now-ui-dashboard.js" type="text/javascript"></script>



